@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'DotGothic16', sans-serif;
  background: #2cb67d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.container {
  background-color: #262e2f;
  border: 2px solid white;
  width: 50%;
}

/* Accueil */

.accueil-panel {
  text-align: center;
  width: 90%;
  margin: auto;
  color: #daecdd;
  padding: 10px;
}

.end-panel {
  width: 90%;
  background-color: #262e2f;
  border: 2px solid white;
  text-align: center;
  margin: auto;
  color: #daecdd;
  padding: 10px;
  z-index: 1;
}


.accueil-panel h1,
.accueil-panel h2,
.accueil-panel p,
.accueil-panel li,
.accueil-panel button {
  margin: 5px 0px;
}

.accueil-panel button {
  font-family: 'DotGothic16', sans-serif;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  color: #1b2d45;
  background: #00ebc7;
  border: none;
  display: inline;
}

.accueil-panel button:hover {
  color: #fffffe;
}

/* Game */

.hp-content {
  display: flex;
  align-items: center;
}

.opponent-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.player-container {
  display: flex;
  justify-content: space-between;
}

.opponent-portrait {
  position: absolute;
  width: 30%;
  right: 70px;
  top: 40px;
  transition: all 0.5s ease;
}

.player-portrait {
  position: absolute;
  width: 55%;
  left: 0px;
  bottom: 0px;
  transition: all 0.5s ease;
}

/* Animation d'attaque */
.slide-animation{
  left: 50px;
}

.slide-anim-opponent {
  right: 120px;
}

/* Animation d'attaque subis */
.damage-taken {
  transform: translateX(10px);
}


.opponent-card,
.player-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 80px;
    border: 2px solid black;
    justify-content: space-between;
    background: #f5f6d3;
    border-radius: 10px;
    padding: 10px;
}

.player-card {
  position: absolute;
  bottom: 20px;
  right: 20px;
  box-shadow: 6px 6px 2px 1px #9d9e73;
  align-items: flex-end;

  transition: all 1s ease-in;
}

.opponent-card {
  position: absolute;
  left: 40px;
  top: 30px;
  box-shadow: -6px 6px 1px 1px #9d9e73;
  align-items: flex-end;

  transition: all 1s ease-in;
}

.opponent-infos,
.player-infos {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.pokemon-name,
.pokemon-level,
.hp-content h3 {
  font-size: 16px;
  font-weight: 400;
}

.hp-content h3 {
  margin: 0 5px;
  padding-left: 2px;
  color: #dfb251;
  font-size: 14px;
}

.hp-content {
  background: #262e2f;
  border-radius: 25px;
  width: 135px;
}

.health-bar {
  width: 100px;
  height: 10px;
  background: #ddd;
  border-radius: 10px;
  border: 1px solid #262e2f;
}

.opponent-bar,
.player-bar {
  width: 100%;
  height: 8px;
  border-radius: 10px;
  background: #85E9AA;
}


.screen {
  display: flex;
  background: url(images/background-image.png); 
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 355px;
  overflow: hidden;
}

.menu-container {
  background-color: #c2a94d;
  height: 80px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  position: relative;
}

.sentence-box {
  background-color: #265068;
  border: 3px solid white;
  color: white;
  padding: 20px;
  margin: 10px;
  width: 100%;
} 

.actions-container {
  display: grid;
  background-color: #f8f8f8;
  height: 100%;
  width: 215px;
  border: 3px solid #696475;
  grid-template-columns: 1fr 1fr;
  border-radius: 5px;
  position: absolute;
}

.menu-content button {
  background: transparent;
  border: none;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  font-family: 'DotGothic16', sans-serif;
  cursor: pointer;
}

.fa-caret-right {
  visibility: hidden;
  color: #51574b;
  padding-right: 5px;
  font-size: 20px;
}

.fa-level-up-alt {
  rotate: 90deg;
}

.menu-content button:hover .fa-caret-right {
  visibility: visible;
}

.hide {
  display: none;
}

.skills-menu {
  display: grid;
  background-color: #f8f8f8;
  height: 100%;
  width: 215px;
  border: 3px solid #696475;
  grid-template-columns: 1fr 1fr;
  border-radius: 5px;
  position: absolute;
}

/* Skills */

.skills-details {
  display: flex;
}

.skills-details > span {
  margin-left: 25px;
  margin-right: 25px;
}

.skills-details p {
  margin-left: 25px;
  display: flex;
  width: 100%;
}

.element {
  color: white;
  padding: 0 5px;
  margin-left: 5px;
  border-radius: 5px;
}

.skills {
  display: grid;
  background-color: #f8f8f8;
  height: 100%;
  border: 3px solid #696475;
  grid-template-columns: 1fr 1fr;
  border-radius: 5px;
  visibility: hidden;
}

/* Autre */

.menu-content {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 65% auto;
}

.possibilities {
  display: grid;
  background-color: #f8f8f8;
  height: 100%;
  border: 3px solid #696475;
  grid-template-columns: 1fr 1fr;
  border-radius: 5px;
  margin-left: 1px;
}

.skills-details {
  display: none;
  background-color: #f8f8f8;
  height: 100%;
  border: 3px solid #696475;
  grid-template-columns: 1fr 1fr;
  border-radius: 5px;
  margin-left: 1px;
  align-items: center;
}

#return {
  display: flex;
  justify-content: flex-end;
  padding: 2px;
}